
.dashboard-container{
    overflow-x: hidden;
    text-align: center;
    width: 100vw;
    min-height: 100vh;
}

.dashboard-container>h1{
    margin-top: 25px;
    font-size: 2.4rem;
}

.dashboard-container .dashboard-container-subdiv>h5{
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: #677483;
    margin-bottom: 25px;
}
.dashboard-container .dashboard-error-container{
    color: #999999;
    margin-top: 50px;
    font-size: 3rem;
}

.dashboard-container  .flight-detail-wrapper{
    height: 100%;
    padding: 20px 30px;
    /* display: flex;
    /* width: 100%; */
    /* justify-content: flex-start;
    flex-wrap: wrap;  */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.flight-details-container{
    height: 100%;
    overflow: visible;
    flex-shrink: 0;
    background-color: #fff;
    /* margin: 20px auto; */
    padding: 25px 30px;
    /* max-width:420px; */
    /* display: flex;
    flex-direction: column; */
    /* gap: 15px; */
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    display: grid;
    grid-template-rows: 2fr 1fr 0.5fr;

}
.flight-details-container .flight-itr-box{
    font-size: 1.5rem;
    color: black;
}
.flight-details-container .flight-itr-box .flight-seg-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
}
.flight-details-container .flight-itr-box .flight-seg-box .airport-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.flight-details-container .flight-itr-box .flight-seg-box .airport-box span{
    text-align: left;
    font-size: 1.1rem;
    color: #677483;
}
.flight-details-container .flight-itr-box .flight-seg-box span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flight-details-container .flight-itr-box .flight-seg-box span hr{
    width: 150px;
}
.flight-details-container .flight-trav-box{
    border-top: 1px solid #999999;
    padding-top: 15px;
    font-size: 1.3rem;
    color: #677483;
}
.flight-details-container .flight-trav-box h3{
    text-align: left;
    margin: 10px auto;
    font-size: 1.3rem;
    font-weight: 600;
    width: 70%;
}
.flight-details-container .flight-trav-box .trav-info-box{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: around;
}
.flight-details-container .link-container{
    height: 100%;
    margin-top: 20px;
    overflow: visible;
    text-align: right;
}
.flight-details-container .link-container .link{
    text-decoration: none;
    background-color: rgb(113, 136, 136);
    color: white;
    padding: 12px 20px;
    height: 50px;
    border-radius: 8px;
}
.flight-details-container .link-container .link:hover{
    filter: brightness(0.8);
}
@media screen and (max-width:1500px) {
    .dashboard-container  .flight-detail-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:1000px) {
    .flight-details-container .flight-itr-box .flight-seg-box span hr{
        width: 100px;
    }
    .flight-details-container .flight-itr-box .flight-seg-box .airport-box span {
        font-size: 0.9rem;
    }
}
@media screen and (max-width:800px) {
    .flight-details-container .flight-trav-box .trav-info-box {
        width: 90%;
    }
    .flight-details-container .flight-trav-box h3{
        width: 90%;
    }
    .dashboard-container  .flight-detail-wrapper{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:650px) {
    .flight-details-container{
        width: 90vw;
    }
}
@media screen and (max-width:500px) {
    .dashboard-container  .flight-detail-wrapper{
        padding: 20px 2vw;
        justify-content: center;
        align-items: center;
    }
    .flight-details-container .flight-itr-box{
        font-size: 1.2rem;
    }
    .flight-details-container .flight-itr-box .flight-seg-box span hr{
        width: 100px;
    }
    .flight-details-container .flight-itr-box .flight-seg-box .airport-box span{
        font-size: 0.9rem;
    }
    .flight-details-container .flight-trav-box{
        font-size: 1.1rem;
    }

    .flight-details-container{
        padding: 25px 5px;
        margin: 5px auto;
    }
    .flight-details-container .flight-itr-box .flight-seg-box span hr{
        width: 80px;
    }
}

