
.login-form-container{
    margin: 3vh auto;
    padding: 25px 15px;
    /* margin-top: 0px; */
    width: 60%;
    background: #fff;
    box-shadow: 1px 1px 5px gray;
    /* border: 1px solid slateblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form-container *{
    overflow: visible;
}
.login-form-container h1{
    font-size: 1.8rem;
    /* color: darkslateblue; */
    color: var(--bg-clr-2);
    letter-spacing: 5px;
    text-align: center;
}

.login-form-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form-container .form-input{
    width: 85%;
    height: 50px;
    position: relative;
    margin: 15px 15px;
    
}

.login-form-container .form-input label{
    display: block;
    z-index: 10;
    position: absolute;
    top:15px;
    left: 10px;
    transition: all 0.2s ease;
    color: gray;
}
.login-form-container .form-input.password span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #bdbdbd;
}
.login-form-container .form-input input:focus + label, .login-form-container .form-input input:not(:placeholder-shown)~label{
    top:-17px;
    left: 0;
}
#phone-label{
    left: 50px;
    top:12px
}

.login-form-container .form-input input:focus{
    border: 1px solid #dddddd;
}

.react-tel-input .selected-flag{
    background-color: #dddddd;
}

.login-form-container .form-input input{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 0.25rem;
    padding: 5px 15px;
    outline: none;
    border: none;
    /* border-bottom: 2px solid darkblue; */
    border-bottom: 2px solid var(--bg-clr-2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.login-form-container .form-input input::placeholder{
    visibility: hidden;
}

#phone-input{
    padding-left: 45px;
}

.login-form-container form .login-btn{
    min-width: 200px;
    min-height: 50px;
    display:block;
    margin: 10px auto;
    padding: 8px 35px;
    font-size: 1.1rem;
    color: white;
    /* background-color: darkslateblue; */
    background-color: var(--bg-clr-2);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-container form .login-btn:hover{
    /* background-color: rgb(49, 35, 145); */
    background-color: var(--hvr-clr-2);
}

.login-form-container p {
    color: gray;
    margin: 5px auto;
    width: 70%;
    text-align: center;
}
.login-form-container p a{
    color: var(--bg-clr-2);
    text-decoration: none;
}

.button-loader{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.button-loader div{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 2px solid gray;
    border-right: 2px solid white;
    animation: spin 0.8s infinite ease-in-out;
}
@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@media screen and (max-width:800px) {
    .login-form-container{
        margin-top: 8vh;
        width: 75%;
    }
}
@media screen and (max-width:590px) {
    .login-form-container{
        margin-top: 8vh;
        width: 85%;
    }
    .login-form-container p {
        width: 90%;
    }
}