
.home-container{
    
}

.home-header-container{
    background: url('./../../assets/johny-greenbg.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding: 35px 55px;
    display: grid;
}
.home-header-container .header{
    font-size: 3.8rem;
    font-weight: 700;
    color: #fff;
    margin-top: 70px;
    overflow: visible;
}
.home-header-container .title{
    text-align: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    transform: translateX(11px);
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 1.8rem;
    place-self:end;
    /* background: linear-gradient(to right, silver 0, white 10%, grey 20%);
    background-position: 0; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear; */
    color: #fff;
}
@keyframes shine {
    0%{background-position: 0;}
    100%{background-position: 100%;}
}
.home-header-container .flight-link, .hotel-info-container .hotel-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 20px 25px;
    background: #ffffff4d;
    color: white;
    width: fit-content;
    height: fit-content;
    justify-self: end;
    position: relative;
    z-index: 8;
}
.home-header-container .flight-link::before, .hotel-info-container .hotel-link::before{
    content: '';
    display: block;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.575);
    color: blue;
    z-index: -3;
    transition: all 0.2s;
}
.home-header-container .flight-link:hover::before, .hotel-info-container .hotel-link:hover::before{
    width: 100%;
}
.manage-booking-link{
    width: 95vw;
    margin: 0px auto;
    margin-top: 50px;
    padding: 25px 30px;
    border-radius: 10px;
    background-color:midnightblue;
    /* background: linear-gradient(to right,  ,cornflowerblue); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.manage-booking-link span{
    font-size: 1.5rem;
    color: white;
}
.manage-booking-link .link{
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    padding: 10px 20px;
    border-radius: 10px;
}
.manage-booking-link .link:hover{
    text-decoration: underline;
    outline: 2px solid gray;
    outline-offset: -2px;
}
.home-service-container{
    height: 450px;
    width: 100%;
    margin:50px 0;
    padding: 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
}
.home-service-container .service-box{
    height: 100%;
    width: 100%;
    border: 1px solid rgba(104, 104, 104, 0.61);
    box-shadow: 0px 2px 3px grey;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.home-service-container .service-box img{
    width: 100%;
    height: 200px;
}
.home-service-container .service-box p{
    font-size: 1.2rem;
    color: gray;
}
.home-container .hotel-info-container{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) , url('/src/assets/hotel-bg2.jpg') no-repeat;
    background-position: center;
    background-size: 100%;
    width: 95vw;
    height: 600px;
    border-radius: 15px;
    margin: 50px auto;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: all 0.5s ease;
}
.home-container .hotel-info-container:hover{
    background-size: 105%;
}
.home-container .hotel-info-container h1{
    width: 70%;
    font-size: 4.5rem;
    color: white;
}
.home-container .hotel-info-container h5{
    font-size: 2.2rem;
    color: white;
    font-weight: 300;
}
@media screen and (max-width:1060px){
    .home-container .hotel-info-container{
        padding: 50px 30px;
    }
}
@media screen and (max-width:940px) {
    .home-service-container .service-box{
        gap: 15px;
        padding: 25px 15px;
    }
    .home-service-container .service-box img{
        width: 100%;
        height: 180px;
    }
}
@media screen and (max-width:810px) {
    .home-header-container{  
        padding: 35px 35px;
     }
    .home-service-container{
        height: 100%;
        flex-direction: column;
        padding: 25px 100px;
    }
}

@media screen and (max-width:640px) {
    .home-container .hotel-info-container h1{
        font-size: 3rem;
    }
    .home-container .hotel-info-container h5{
        font-size: 1.9rem;
    }
}
@media screen and (max-width:550px) {
    .home-header-container{
        padding: 35px 20px;
    }
    .home-header-container .header{
        font-size: 3.4rem;
    }
    .home-header-container .title{
        letter-spacing: 1rem;
    }
    .home-service-container{
        padding: 25px 25px;
    }
    .manage-booking-link{
        flex-direction: column;
        
    }
    .manage-booking-link .link{
        width: 100%;
    }

}
@media screen and (max-width:450px) {
    .home-container .hotel-info-container{
        height: 100%;
    }
    .home-container .hotel-info-container h1{
        width: 90%;
    }
}