
.airport-search-container{
    background-color: white;
    margin: 5px 10px;
    border-radius: 10px;
    width: 100%;
    padding: 5px 10px;
    padding-top: 15px;
    position: relative;
}

.airport-search-container label{
    display: block;
}

.airport-search-container input[type=text]{
    height: 40px;
    border: none;
    outline:none;
    background:transparent;
    font-size: 1.2rem;
    width: 90%;
}

.airport-search-container .search-result-container{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 20;
}

.search-result-container .search-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(132,139,200,0.18);
    cursor: pointer;
}
.search-result-container .search-item:hover{
    background-color: #f6f6f9;
}
.search-result-container .search-item div{
    display: flex;
    align-items: center;
    height: 25px;
    color: #677483;
    gap: 15px;
}
.search-result-container .search-item h4{
    font-size: 1.1rem;
}
.search-result-container .search-item h5{
    font-size: 0.9rem;
}
.search-result-container .search-item div h7{
    font-size: 0.8rem;
}