.flight-search-container{
    min-height: 110vh;
}
.flight-search-form{
    background: rgb(67, 67, 255);
    padding: 25px 40px;
    margin: 10px;
    border-radius: 10px;
}

.flight-search-form .airport-searchBar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight-search-form .datepicker-input-container{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    min-height: 90px;
    padding: 10px 10px;
}

.flight-search-form .datepicker-input-container .countpicker-input-container{
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 5;
}

.flight-search-form .flight-search-button{
    background-color: #fff;
    margin: 5px auto;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 5px 5px 2px black;
    transition: all 0.1s ease;
    z-index: 1;
}
.flight-search-form .flight-search-button:hover{
    background-color: rgb(209, 209, 209);
} 
.flight-search-form .flight-search-button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
}
.flight-search-link-tag{
    text-decoration: none; 
}
@media screen and (max-width:1200px) {
    .flight-search-form{
        padding: 25px 10px;
    }
}
@media screen and (max-width:810px) {
    .flight-search-form .datepicker-input-container{
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem 0.5rem;
    }
}

@media screen and (max-width:465px) {
    .flight-search-form .airport-searchBar-container{
        flex-direction: column;
        padding: 0 10px;
        gap: 0.5rem;
    }
    /* .flight-search-form .datepicker-input-container{
        
    } */
}