
.booking-done-container{
    text-align: center;
    /* background-color: #fff; */
    padding: 25px 0;
}
.booking-done-container .booking-done-info .booking-done-logo{
    color: rgb(0, 255, 85);
    font-size: 2.8rem;
}
.booking-done-container .booking-done-info{
    width: 100%;
    align-items: center;
    margin: 15px auto;
    padding: 45px 40px;
    /* border: 2px solid darkblue; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.booking-done-container .booking-done-info h1{
    margin: 0;
}
.booking-done-container .booking-done-info h3{
    font-size: 2.2rem;
    color: darkblue;
}
.booking-done-container .booking-done-info h4{
    font-size: 1.5rem;
    color: #677483;
    margin-bottom: 0;
}

.booking-done-container .booking-done-info h5{
    font-size: 1rem;
    color: #677483;
}

.booking-done-trav-container{
    margin-top: 45px;
}

.user-detail{
    /* border:2px solid red; */
    background-color: #eee;
    border-radius: 5px;
    margin: 10px auto;
    width: 75%;
    padding:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* display: grid;
    grid-template-areas: "name name fare""dob email phone"; */
    gap: 8px;
}

.user-detail .subdiv-1{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    border-bottom: 1px solid gray;
}


.user-detail .subdiv-2{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}


.user-detail .name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    font-size: 1.1rem;
    font-weight: 500;
    grid-area: name;
}

.user-detail .dob, .user-detail .contact{
    width: 100%;
    color: #5d6670;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px 15px; */
} 

.user-detail .fare{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    color: #677483;
    grid-area: fare;
}

.email{
    grid-area: email;
}

.phone{
    grid-area: phone;
}

@media screen and (max-width:1240px) {
    .user-detail .subdiv-1, .user-detail .subdiv-2{
        width: 70%;
    }
}
@media screen and (max-width:825px) {
    .user-detail .subdiv-1, .user-detail .subdiv-2{
        width: 90%;
    }
}
@media screen and (max-width:625px) {
    .user-detail {
        width: 90%;
    }
    .user-detail .subdiv-1{
        flex-direction: column;
    }
}