.hotel-display-container{
    padding: 4% 4%;
}
.hotel-display-container .hotel-display-subcont{
    display: flex;   
    gap: 2rem;
}
.hotel-display-container .hotel-display-subcont .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.2rem;
}
.hotel-display-subcont .star-container{

}
.hotel-display-subcont h1{
    font-size: 2.6rem;
}
.hotel-display-subcont .address{
    
}
.hotel-display-subcont .address p{
    font-size: 1.3rem;
}
.hotel-display-container .description{
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: rgb(39, 64, 64);
}
.hotel-display-subcont .input-holder{

}
.hotel-display-subcont .input-holder .input-container{

}
.input-holder .input-container div{

}
.input-holder .input-container div label{

}
.input-holder .input-container div input{

}
.hotel-display-container .rooms-container,
.hotel-display-container .location-container,
.hotel-display-container .contact-container{
    margin: 35px 0;
    background-color: var(--sec-clr-2);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    padding: 15px 20px;
}
.hotel-display-container .rooms-container h2{
    font-size: 1.8rem;
    padding: 0 10px;
    margin: 10px 0;
}
.hotel-display-container .rooms-container>div{
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}
.hotel-display-subcont .location-container{

}
.hotel-display-subcont .contact-container{

}