
.date-container{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 48%;
    height: 100%;
}
.date-container label{
    display: block;
}
.date-container input{
    background:transparent;
    border: none;
    outline: none;
    padding: 5px 0px;
}

@media screen and (max-width:465px) {
    .date-container{
        width: 48%;
    }
}