nav{
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 5px black;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 15;
}
nav.onHome{
    position: absolute;
    top: 0;
    background: transparent;
    /* backdrop-filter: blur(15px); */
    box-shadow: none;
}
nav img{
    /* height: 100px; */
    width: 180px;
    position: absolute;
    top: 13px;
    left: 10px;
}

.user-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.user-login-container a{
    text-decoration: none;
}
.user-login-container .user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 1.1rem;
    color: #677483;
    /* color: darkblue; */
    border: 1px solid #677483;
    border-radius: 25px;
    padding: 8px 15px;
}
.user-login-container .user-info.user-logout{
    border: none;
    cursor: pointer;
}
.user-login-container .user-info.user-logout:hover{
    text-decoration: underline;
}
 .user-login-container .user-info:hover{
    background-color: #eee;
}
.user-login-container .user-info{
}
nav.onHome .user-login-container .user-info{
    color: #fff;
    border: 1px solid #ffffffb6;
} 
nav.onHome .user-login-container .user-info.user-info.user-logout{
    background: transparent;
    border:none
}
nav.onHome .user-login-container .user-info:hover, nav.onHome .user-login-container .user-info.user-logout:hover{
    background-color: #c9c9c9a4;
}
@media screen and (max-width:700px) {
    nav{
        padding: 0 20px;
    }
}
@media screen and (max-width:550px) {
    nav{
        padding: 0 10px;
    }
}